{% extends 'menu.html' %}
{% load static %}
{% block title %} Contato {% endblock %}
{% block body %}



<div class="contact-info d-flex flex-column align-items-center">
       <h3 class="title">Fale Conosco!</h3>
       <p class="text"> Para mais informação sobre projetos, parcerias ou oportunidades de trabalho,<br> preencha o formulário
                        ou envie um e-mail para o contato@culturaquilombola.com.br </p>

<div class="contact-info-form "> <span class="circle one"></span> <span class="circle two"></span>
       <form action="#" onclick="return false;" autocomplete="off">

       <h3 class="title" style=" text-align: center">Contatos</h3>
       <form action="#" method="post">

<div class="col-md-10">
       <label for="name" class="form-label">Nome:</label>
       <input type="text" class="form-control" style="display: block; margin-bottom: 10px;"id="name">
</div>

<div class="col-md-10">
       <label for="Email" class="form-label">Email:</label>
       <input type="text" class="form-control"style="display: block; margin-bottom: 10px;"id="Email">
</div>

<div class="col-md-10">
        <label for="telefone" class="form-label">telefone:</label>
        <input type="tel" class="form-control" style="display: block;  margin-bottom: 10px; "id="telefone"">
</div>

<div class="col-md-10">
    <label for="mensagem" class="form-label">Mensagem:</label>
    <textarea class="form-control" style="display: block;height: 150px; margin-bottom: 10px;" id="mensagem"></textarea>
</div>

<div class="col-md-10">
    <button type="submit" class="btn btn-primary">Enviar</button>
</div>
   </form>
</div>
</div>


{% endblock %}