

{% extends 'menu.html' %}
{% load static %}
{% block title %} Contato {% endblock %}
{% block body %}




<div class="container-contato" >

    <div class="contato-titulo ">
       <h2 class="text-center" > Fale Conosco!</h2>
       <p> Para mais informação sobre projetos, parcerias ou oportunidades de trabalho,<br> preencha o formulário
                        ou envie um e-mail para o contato@culturaquilombola.com.br</p>
    </div>


     <div class="box-contato" style=" d-flex flex-column align-items-center">
            <form action="#" method="post">
                <div class="col-md-10">
                    <label for="name" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="col-md-10">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" id="email">
                </div>

                <div class="col-md-10">
                    <label for="telefone" class="form-label">telefone:</label>
                    <input type="tel" class="form-control"  id="telefone"">
                </div>

                <div class="col-md-10">
                    <label for="message" class="form-label">Mensagem (opcional):</label>
                    <textarea id="message" name="message" class="form-control" rows="4"></textarea>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>

            </form>

        </div>

    </div>

</div>












{% endblock %}