{% extends 'menu.html' %}
{% load static %}
{% block title %} Contato {% endblock %}
{% block body %}



       <div class="contact-info" style="padding: 20px; ">
            <h3 class="title">Fale Conosco!</h3>
            <p class="text"> Para mais informação sobre projetos, parcerias ou oportunidades de trabalho,<br> preencha o formulário
                        ou envie um e-mail para o contato@culturaquilombola.com.br </p>

        <div class="contact-info-form" style="  background-color:red ; font-size: 16px; justify-content: space-between; align-items: center;"> <span class="circle one"></span> <span class="circle two"></span>
            <form action="#" onclick="return false;" autocomplete="off">
                <h3 class="title">Contatos</h3>
                <div class="social-input-containers"> <input type="text" name="nome" class="input" placeholder="Nome" /> </div>
                <div class="social-input-containers"> <input type="email" name="email" class="input" placeholder="Email" />  </div>
                <div class="social-input-containers"> <input type="tel" name="telefone" class="input" placeholder="Telefone" />  </div>
                <div class="social-input-containers textarea"> <textarea name="mensagem" class="input" placeholder="Mensagem"></textarea> </div> <input type="submit" value="Send" class="btn" />
            </form>
        </div>
    </div>
</div>



{% endblock %}