{% extends 'menu.html' %}
{% load static %}
{% block title %} Doar {% endblock %}
{% block body %}


<div class="container-doar">

    <div class="titulo-doar ">
       <h2 class="text-center" > Doação</h2>
       <p> Faça sua contribuição para apoiar nossa causa.</p>
    </div>


    <div id="doar" class="container-doar d-flex flex-column align-items-center">
    <div class="doar">
        <form action="#" method="post">
         <div class="col-md-10">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="name">
        </div>

         <div class="col-md-10">
        <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email">
        </div>

         <div class="col-md-10">
        <label for="Valor da Doação" class="form-label">Valor da Doação:</label>
        <input type="text" class="form-control" id="Valor da Doação">
        </div>

         <div class="col-md-10">
        <label for="payment-method" class="form-label">Forma de Pagamento:</label>
                <select id="payment-method" name="payment-method" class="form-control" required>
                    <option value="pix">PIX</option>
                    <option value="boleto">Boleto</option>
                    <option value="cartao_credito">Cartão de Crédito</option>
                    <option value="cartao_debito">Cartão de Débito</option>
                </select>
        </div>

         <div class="col-md-10">
        <label for="message" class="form-label">Mensagem (opcional):</label>
                <textarea id="message" name="message" class="form-control" rows="4"></textarea>
        </div>

            <div class="col-12">
                 <button type="submit" class="btn btn-primary">Doar</button>
               </div>

       </form>

    </div>
</div>

        </div>





{% endblock %}