
{% extends 'menu.html' %}
{% load static %}
{% block title %} eventos {% endblock %}
{% block body %}
<div class="container-eventos">
        <div class="event">
            <h2 class="event-title">Festival Cultural Quilombola</h2>
            <p class="event-date">Data: 10 de Junho de 2024</p>
            <p class="event-description">Um evento anual que celebra a cultura e a história do quilombo, apresentando música, dança, artesanato, culinária tradicional e outras expressões culturais. O festival pode incluir apresentações de grupos locais e convidados especiais, exposições de arte e artesanato quilombola, workshops sobre técnicas tradicionais de produção e debates sobre questões relevantes para a comunidade quilombola, como preservação cultural, direitos territoriais e desenvolvimento sustentável..</p>
        </div>
        <div class="event">
            <h2 class="event-title">Feira de Economia Solidária</h2>
            <p class="event-date">Data: 15 de julho de 2024</p>
            <p class="event-description">Uma feira regular que reúne produtores locais do quilombo e comunidades vizinhas para comercializar produtos agrícolas, artesanato, alimentos processados, produtos naturais e outros itens produzidos de forma sustentável e comércio justo. A feira não apenas promove o desenvolvimento econômico local, mas também fortalece os laços comunitários e promove práticas comerciais éticas e sustentáveis..</p>
        </div>
        <div class="event">
            <h2 class="event-title">Encontro de Saberes Tradicionais</h2>
            <p class="event-date">Data: 20 de Agosto de 2024</p>
            <p class="event-description">Um evento educativo e intergeracional que reúne membros da comunidade quilombola para compartilhar conhecimentos tradicionais, como técnicas agrícolas ancestrais, medicina natural, contos e mitos, práticas espirituais e sabedoria oral. O encontro pode incluir oficinas práticas, palestras, rodas de conversa e atividades de aprendizado participativo, valorizando e preservando os saberes ancestrais que são fundamentais para a identidade e a resiliência do quilombo..</p>
        </div>
        <div class="event event-past">
            <h2 class="event-title">Semana da Consciência Negra</h2>
            <p class="event-date">Data: 20 de Novembro de 2023</p>
            <p class="event-description">Este evento ocorreu em novembro de 2020 no Quilombo "Comunidade Quilombola do Alto da Serra". Durante a semana, houve uma série de atividades culturais, educativas e reflexivas em comemoração ao Dia da Consciência Negra, celebrado em 20 de novembro no Brasil. As atividades incluíram palestras sobre a história e a luta dos quilombolas, apresentações de música e dança afro-brasileira, exposições de arte e artesanato local, oficinas de capoeira e culinária tradicional quilombola, além de debates sobre questões atuais relacionadas ao racismo e à identidade negra.</p>
        </div>
        <div class="event event-past">
            <h2 class="event-title">Mutirão de Limpeza e Manutenção Comunitária</h2>
            <p class="event-date">Data: 10 de abril de 2023</p>
            <p class="event-description">Em abril de 2019, a Comunidade Quilombola "Sítio dos Palmares" organizou um mutirão de limpeza e manutenção em suas áreas comunitárias. Membros da comunidade e voluntários locais se reuniram para realizar atividades como limpeza de ruas, praças e áreas de convivência, manutenção de instalações públicas, reparos em estruturas danificadas e plantio de árvores. O evento não apenas contribuiu para melhorar o ambiente físico da comunidade, mas também fortaleceu os laços comunitários, promovendo o senso de responsabilidade coletiva e cuidado com o espaço compartilhado.</p>
        </div>
    </div>

{% endblock %}