{% extends 'menu.html' %}
{% load static %}
{% block title %} eventos {% endblock %}
{% block body %}
<div class="container-eventos">
        <div class="event">
            <h2 class="event-title">Evento Futuro 1</h2>
            <p class="event-date">Data: 10 de abril de 2024</p>
            <p class="event-description">Descrição do evento futuro 1.</p>
        </div>
        <div class="event">
            <h2 class="event-title">Evento Futuro 2</h2>
            <p class="event-date">Data: 15 de maio de 2024</p>
            <p class="event-description">Descrição do evento futuro 2.</p>
        </div>
        <div class="event">
            <h2 class="event-title">Evento Futuro 3</h2>
            <p class="event-date">Data: 20 de junho de 2024</p>
            <p class="event-description">Descrição do evento futuro 3.</p>
        </div>
        <div class="event event-past">
            <h2 class="event-title">Evento Passado 1</h2>
            <p class="event-date">Data: 5 de fevereiro de 2024</p>
            <p class="event-description">Descrição do evento passado 1.</p>
        </div>
        <div class="event event-past">
            <h2 class="event-title">Evento Passado 2</h2>
            <p class="event-date">Data: 10 de março de 2024</p>
            <p class="event-description">Descrição do evento passado 2.</p>
        </div>
    </div>

{% endblock %}