{% extends 'base.html' %}
{% load static %}
{% block menu %}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container Fluid">
    <a class="navbar-brand" href=""><h1>Cultura Quilombola</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'pagina' %}">Página Inicial</a></li>
                    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSobre" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sobre Nós</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownSobre">
                 <li><a class="dropdown-item" href="{% url 'sobre' %}">Sobre</a></li>
                 <li><a class="dropdown-item" href="{% url 'equipe' %}">Equipe</a></li>
              </ul>
                    </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNoticias" role="button" data-bs-toggle="dropdown" aria-expanded="false">Notícias</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownNoticias">
                    <li><a class="dropdown-item" href="{% url 'noticias' %}">Notícias</a></li>
                    <li><a class="dropdown-item" href="{% url 'eventos' %}">Eventos</a></li>
                </ul>
                </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVoluntario" role="button" data-bs-toggle="dropdown" aria-expanded="false">Voluntário</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownVoluntario">
                    <li><a class="dropdown-item" href="{% url 'voluntario' %}">Voluntário</a></li>
                    <li><a class="dropdown-item" href="{% url 'doar' %}">Doar</a></li>
                </ul>
            </li>

            <li class="nav-item"> <a class="nav-link" href="{% url 'contato' %}">Contatos</a>  </li>
            </ul>

           <form class="d-flex" role="search">
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success" type="submit">Search</button>
           </form>
        </div>
     </div>

     <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
        <div class="d-flex ms-auto">
              <a class="nav-link" href="#">
                  <img src="{% static 'img/face.png' %}" alt="" style="height: 28px; width: 28px;margin-left: 10px;">
              </a>
              <a class="nav-link" href="#">
                  <img src="{% static 'img/inst.png' %}" alt="Twitter" style="height: 28px; width: 28px;margin-left: 10px;">
              </a>
              <a class="nav-link" href="#">
                  <img alt="Instagram" src="{% static 'img/twitter.png' %}" style="height: 28px; width: 28px;margin-left: 10px;" >
              </a>
        </div>
          </ul>
     </div>
 </nav>

{% endblock %}


{% block footer %}

  <div class="footer">
      <div class="col-md-4">
           <div class="endereco">
                <a class="navbar-brand" href=""><h1>Cultura Quilombola</h1></a>
                <p>Culturaquiombola@hotmail.com<br>Rua Prates, 194 - Bom Retiro<br>Ourém - PA, 68640-000</p>
                <p>(91) 3456-7890</p>

                 <p>Política de Privacidade e Cookies</p>
           </div>
      </div>

      <div class="col-md-4">
            <div class="newsletter-container">
                 <h2>Assine nossa Newsletter</h2>
                 <p>Receba as últimas notícias e atualizações diretamente na sua caixa de entrada.</p>
                      <form action="#" method="post">
                            <label for="Email" class="form-label">Email:</label>
                            <input type="text" class="form-control"  id="Email">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                      </form>
            </div>
      </div>

      <div class="col-md-4">
          <div class="social-links" style="display: flex; justify-content: flex-start; ">
              <a class="nav-link" href="#">
                  <img src="{% static 'img/face.png' %}" alt="" style="height: 28px; width: 28px;margin-left: 5px;"> </a>
              <a class="nav-link" href="#">
                  <img src="{% static 'img/inst.png' %}" alt="Twitter" style="height: 28px; width: 28px;margin-left: 5px;"> </a>
              <a class="nav-link" href="#">
                  <img alt="Instagram" src="{% static 'img/twitter.png' %}" style="height: 28px; width: 28px;margin-left: 5px;" ></a>
        </div>
      </div>


    </div>



{% endblock %}