<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Voluntário</title>
</head>
<body>
    <h1>Dados do Voluntário</h1>
    <p>Nome: {{ voluntario.nome }}</p>
    <p>Sobrenome: {{ voluntario.Sobrenome }}</p>
    <p>CPF: {{ voluntario.CPF }}</p>
    <p>RG: {{ voluntario.rg }}</p>
    <p>orgExp: {{ voluntario.orgExp }}</p>
    <p>Data Nascimento: {{ voluntario.Data Nascimento }}</p>
    <p>Gênero: {{ voluntario.Gênero }}</p>
    <p>Telefone: {{ voluntario.Telefone }}</p>
    <p>Celular: {{ voluntario.Celular }}</p>
    <p>Endereço: {{ voluntario.Endereço }}</p>
    <p>Cidade: {{ voluntario.Cidade }}</p>
    <p>Estado: {{ voluntario.Estado }}</p>
    <p>CEP: {{ voluntario.CEP }}</p>
    <p>E-mail: {{ voluntario.E-mail }}</p>
    <p>Senha: {{ voluntario.Senha }}</p>
    <p>Concordo com o Termo de Adesão ao Voluntariado: {{ voluntario.Concordo com o Termo de Adesão ao Voluntariado }}</p>
    <p>Concordo com o Termo de Uso de Imagem e Voz: {{ voluntario.Concordo com o Termo de Uso de Imagem e Voz }}</p>

</body>
</html>
