{% extends 'menu.html' %}
{% load static %}
{% block title %}pagina{% endblock %}
{% block body %}



<div>
    <p> Junte-se ao Quilombo Ouremense</p>

</div>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/fotos-gratis/mulher-do-campo-segurando-folhas-de-planta_23-2148761766.jpg?t=st=1708617813~exp=1708621413~hmac=54e15597252c2eacf9342a5c6e40e6900d7e8d4804e3489fa3e93b0f21a5676a&w=740" class="d-block w-100" alt="Slide 1">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Agricultura no Quilombo</h1>
            <p class="opacity-75">A terra que plantamos</p>
            <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/fotos-gratis/retrato-exterior-de-mulher-sorridente-de-tiro-medio_23-2149351979.jpg?t=st=1708617501~exp=1708621101~hmac=79db0d5380bf1ff777dff99ec977295b0561a6c8903e2c55067cc837ea687a98&w=740" class="d-block w-100" alt="Slide 1">
        <div class="container">
          <div class="carousel-caption">
            <h1>A mãe de todos</h1>
            <p>A mulher como representando o quilombo</p>
            <p><a class="btn btn-lg btn-primary" href="#">Saiba Mais</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/fotos-gratis/feche-o-aperto-de-mao-da-equipe_23-2148905520.jpg?t=st=1708617899~exp=1708621499~hmac=1f3bfd26fe57d6c6cb87a1bf88faab7bda6017ffe8436c3c914ced43b70ed2d2&w=826" class="d-block w-100" alt="Slide 1">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>A força da mulher</h1>
            <p>Elas podem</p>
            <p><a class="btn btn-lg btn-primary" href="#">Veja nossa Galeria</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="container">
        <div class="box">
            <h2>Notícias do Quilombo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, justo eu tincidunt.</p>
        </div>
        <div class="box">
            <h2>Eventos do Quilombo</h2>
            <p>Veja os próximos eventos da nossa comunidade. Participe e celebre conosco!</p>
        </div>
        <div class="box">
            <h2>Seja Voluntário</h2>
            <p>Quer contribuir? Junte-se a nós como voluntário e faça a diferença na vida dos quilombolas.</p>
        </div>
    </div>
{% endblock %}