{% extends 'base.html' %}
{% load static %}
{% block menu %}
<div class="d-flex flex-row-reverse bg-body-tertiary">
     <a class="nav-link" href="#">
           <img src="https://encurtador.com.br/dgrvN " height="28px">
     </a>
    <a class="nav-link" href="#">
           <img src="https://encurtador.com.br/nyzCU" height="28px">
    </a>
    <a class="nav-link" href="#">
           <img src="https://encurtador.com.br/wKU29" height="28px">
    </a>

  </div>

<nav class="navbar navbar-expand-lg bg-body-tertiary" >

  <div class="container-fluid">
    <a class="navbar-brand" href=""><h1>Cultura Quilombola</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item">
          <a class="nav-link" href="{% url 'pagina' %}">Pagina Inicial</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'sobre' %}">Sobre Nós</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'equipe' %}">Equipe</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'atividades' %}">Atividades Educativas</a>
        </li>

          <li class="nav-item">
          <a class="nav-link" href="{% url 'contato' %}">Contatos</a>
        </li>

      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


{% endblock %}


{% block footer %}
<footer style="background-color: #b3d9ff; padding: 20px; color: #000;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
             <a class="navbar-brand" href=""><h1>Cultura Quilombola</h1></a>

            <p> Culturaquiombola@hotmail.com<br>
                Rua Prates,194 - Bom Retiro <br>
                Ourém - PA, 68640-000</p>
            <p>(91)3456-7890</p>
        </div>
        <div>
            <p>Acesse nossa Newsletter</p>
            <!-- Inserir código para o formulário de cadastro de e-mail -->
        </div>
        <div>
            <!-- Inserir ícones das redes sociais -->
            <img src="caminho/do/icone-facebook.png" alt="Facebook" style="height: 20px; width: 20px;">
            <img src="caminho/do/icone-twitter.png" alt="Twitter" style="height: 20px; width: 20px;">
            <img src="caminho/do/icone-instagram.png" alt="Instagram" style="height: 20px; width: 20px;">
        </div>
    </div>
    <div style="margin-top: 20px;">
        <p style="font-family: 'Vegana', sans-serif; font-size: 16px;">Política de Privacidade e Cookies</p>
    </div>
</footer>


{% endblock %}