{% extends 'menu.html' %}
{% load static %}
{% block title %} Sobre {% endblock %}
{% block body %}
    <style>
       .content-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .box {
            width: 50%;
            background-color: #add8e6; /* Azul claro para o box */
            padding: 10px;
            border-radius: 10px;
            margin: 0 20px; /* Ajuste as margens conforme necessário */
            text-align: center;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: justify;

    </style>

    <div class="content-box">
        <div class="box">
            <h1>Missão</h1>
            <p> No coração de nosso site quilombola, reside a missão fundamental de preservar e celebrar a rica herança
                cultural e histórica de nossa comunidade. Comprometemo-nos a ser guardiões dedicados das tradições
                transmitidas de geração em geração, honrando nosso passado enquanto abraçamos o presente e construímos
                um futuro vibrante. Buscamos, incansavelmente, promover a igualdade, a justiça social e a
                sustentabilidade, fortalecendo os laços que nos unem como comunidade quilombola. Nossa missão é
                servir como uma ponte entre as raízes profundas de nossa história e as oportunidades emergentes,
                compartilhando a beleza única de nosso modo de vida com o mundo e inspirando um entendimento mais
                profundo e respeitoso entre todas as pessoas.</p>
        </div>

        <div class="box">
            <h1>Visão</h1>
            <p>Olhamos para o futuro com a visão audaciosa de ver nossa comunidade quilombola florescer
                como um farol de resiliência e diversidade cultural. Enxergamos um horizonte onde a
                sabedoria ancestral se entrelaça harmoniosamente com inovações contemporâneas, criando um
                ambiente sustentável e próspero para as gerações vindouras. Buscamos não apenas preservar,
                mas também revitalizar e fortalecer os pilares que sustentam nossa identidade, promovendo
                uma sociedade mais justa e inclusiva. Nossa visão é inspirar o entendimento mútuo, a colaboração e o
                respeito, construindo pontes entre as diferentes culturas e
                contribuindo para um mundo onde a diversidade é celebrada como a força que verdadeiramente é.</p>
        </div>

        <div class="box">
            <h1>Valores</h1>
            <p> Em nosso site quilombola, os valores que nos orientam são enraizados na essência da coletividade,
                respeito e preservação. Valorizamos profundamente a solidariedade entre os membros da
                comunidade, reconhecendo que juntos somos mais fortes e capazes de superar desafios.
                O respeito pela diversidade, tanto dentro de nossa própria comunidade quanto em relação
                aos visitantes e parceiros, é uma pedra angular dos nossos valores, promovendo uma
                convivência harmoniosa e enriquecedora. A preservação de nossas tradições e do
                meio ambiente também é um compromisso inabalável, refletindo nosso profundo respeito
                pela natureza e nossa responsabilidade como guardiões de uma herança única.
                Ao agir com integridade, transparência e justiça,
                buscamos inspirar e catalisar mudanças positivas, dentro e fora de
                nossas fronteiras quilombolas.</p>
        </div>
    </div>


{% endblock %}