 .footer {
    background-color: #b3d9ff;
    padding: 10px;
    text-align: center;
    color: #000000;
    justify-content: space-between;
}

/* Estilo de uma caixa simples */
.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

 .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }

        .equipe {
            text-align: center;
        }

        .equipe img {
            width: 100%;
            max-width: 200px;
            height: auto;
            display: block;
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;


        }


        .equipe h2 {
            margin-bottom: 5px;
            font-size: 18px;
        }

        .equipe p {
            margin-bottom: 5px;
            font-size: 15px;
        }

        .equipe a{
            height: 28px;
            width: 28px;
            margin-left: 28px;
            justify-content: center;
            align-items: center;

        }



