 footer {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: #fff;
}

/* Estilo de uma caixa simples */
.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* Estilo de um botão */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
    color: #fff;
}

