

.nav-link:hover {
     color: #fff;
     font-weight: bold;
     background-color: #0d6efd;
     border-radius: 4px;
     margin:0px;
}


.footer {
     background-color: #b3d9ff;
     color: #000;
     padding: 20px;
     display: flex;
     grid-template-columns: repeat(3, 1fr);

}

.endereco {
     text-align: left;
     padding: 20px;
     align-items: center;

}

.newsletter-container {
     display: flex;
     flex-direction: column;
     margin: 20px;
     text-align: left;

}

.newsletter-container h2 {
     text-align: left;
}

.newsletter-container form {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     align-items: left;
}

.newsletter-container button {
     background-color: #4caf50;
     color: #fff;
     padding: 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin-top: 10px;

}

.container {
     max-width: 800px;
     margin: 0 auto;
     padding: 20px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 20px;

}

.titulo{
     background-color: #b3d9ff;
     padding:50px;
     margin: 10px;
     border: 30px;
     font-size:60px;
     color: black;
     font-weight: bold;
     text-align: center

}

.titulo-equipe h1{
     text-align: center;
     color: black;
     font-size: 40px;
     margin:10px;
     padding: 20px;

}

.titulo-equipe p{
     font-size: 20px;
     font-family: Arial, sans-serif;
     text-align: center;
     margin:10px;
     padding: 20px;

}

.box {
     background-color: #b3d9ff;
     display:block;
     margin:30px auto;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box h2{
     font-size: 26px;
     font-family: Arial, sans-serif;
     text-align: center;
     margin-bottom: 10px;
     font-weight: bold;
}

.box p{
     font-size: 14px;
     font-family: Arial, sans-serif;
     text-align: justify;
}

.box button{
     background-color: #4caf50;
     padding: 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;

}

.equipe {
     text-align: center;
}

.equipe img {
     width: 100%;
     max-width: 200px;
     height: auto;
     display: flex;
     margin-bottom: 10px;
}

.equipe h2 {
     margin-bottom: 5px;
     font-size: 18px;
}

.equipe p {
     margin-bottom: 5px;
     font-size: 15px;
}

.equipe a{
     height: 28px;
     width: 28px;
     margin-left: 28px;
     justify-content: center;
     align-items: center;
}


.noticia {
     background-color: #b3d9ff;
     margin-bottom: 20px;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.noticia h2 {
     color: #343a40;
     margin-bottom: 10px;

}

.noticia p {
    color: #555555;
    margin-bottom: 10px;
    line-height: 1.6;

}

.noticia img {
     max-width: 100%;
     border-radius: 8px;
     margin-bottom: 10px;

}

.noticia a {
     background-color: #4caf50;
     color: #fff;
     padding: 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin-top: 10px;
     text-decoration: none;
     font-weight: bold;
}


.event {
      max-width: 1200px;
      margin: 20px auto;
      padding: 20px;
      background-color: #b3d9ff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.event-title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;

}

.event-date {
      font-size: 18px;
      color: #777;
      margin-bottom: 10px;

}

.event-description {
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;

}

.event-past {
     opacity: 0.5;
}

.container-voluntario  {

     justify-content: center;
     align-items: center;

}


.voluntario {
     display: flex;
     margin: 10px ;
     background-color: #b3d9ff;
     padding: 10px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 50%;
     max-width: 1200px;
}

.voluntario form {
     display: grid;
     gap: 20px;
     width: 100%;
}

.voluntario-acesso .checkbox-label {
     display: block;
     margin-bottom: 10px;
}


.voluntario-acesso  button {
     background-color: #4caf50;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     padding:20px;
}


.voluntario select {
     width: 100%;
     max-width: 100%;
}

.voluntario-acesso {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 30px auto;
     background-color:#b3d9ff;
     padding: 20px;
     max-width: 1200px;
     border-radius: 8px;
}


.titulo-voluntario {
     font-size: 20px;
     font-family: Arial, sans-serif;
     text-align: center;
     margin-bottom: 10px;
     font-weight: bold;
     padding: 30px;
}

.voluntario-acesso select {
     width: 100%;
     max-width: 100%;
}
.voluntario-acesso form {
     display: grid;
     gap: 20px;
     width: 100%;
}

.container-doar {
     max-width: 1200px;
     margin: 20px auto;
     padding: 20px;
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.donation-form {
     max-width: 600px;
     margin: 0 auto;

}

.form-group {
     margin-bottom: 20px;

}

.form-label {
     font-weight: bold;
     display: block;
     margin-bottom: 5px;

}

.form-control {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;

}

.btn {
     display: inline-block;
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

.btn:hover {
            background-color: #0056b3;
        }

.contact-info-form{
     display: block;
     margin: 10px ;
     background-color: #b3d9ff;
     padding: 10px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 40%;
     max-width: 1200px;

 }

.contact-info{
     font-size: 20px;
     font-family: Arial, sans-serif;
     text-align: left;
     margin-bottom: 10px;
     padding: 30px;

 }


.contact-info-form button {
     background-color: #4caf50;
     border-radius: 4px;
     cursor: pointer;
     padding:20px;


